<div class="row cf-7-formholder">
	<div class="col-md-6">
		<div class="form-group">
			[text* your-name class:form-control placeholder "Your Name"]
		</div>
		<div class="form-group">
			[email* your-email class:form-control placeholder "Your Email"]
		</div>
		<div class="form-group">
			[text your-subject class:form-control placeholder "Subject"]
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			[textarea your-message x3 id:ur-msg class:form-control placeholder "Message"]
		</div>
	</div>
	<div class="col-md-12">
		[submit class:btn class:btn-primary "Submit"]
	</div>
</div>