$dir : 'style-parts/fonts/roboto/';

//$robotoblack : 'robotoblack';
//@font-face {
//	font-family : $robotoblack;
//	src         : url('#{$dir}Roboto-Black-webfont.eot');
//	src         : url('#{$dir}Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
//	url('#{$dir}Roboto-Black-webfont.woff') format('woff'),
//	url('#{$dir}Roboto-Black-webfont.ttf') format('truetype'),
//	url('#{$dir}Roboto-Black-webfont.svg#robotoblack') format('svg');
//	font-weight : normal;
//	font-style  : normal;
//
//}
//
//$robotoblack_italic : 'robotoblack_italic';
//@font-face {
//	font-family : $robotoblack_italic;
//	src         : url('#{$dir}Roboto-BlackItalic-webfont.eot');
//	src         : url('#{$dir}Roboto-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
//	url('#{$dir}Roboto-BlackItalic-webfont.woff') format('woff'),
//	url('#{$dir}Roboto-BlackItalic-webfont.ttf') format('truetype'),
//	url('#{$dir}Roboto-BlackItalic-webfont.svg#robotoblack_italic') format('svg');
//	font-weight : normal;
//	font-style  : normal;
//
//}
//
//$robotobold : 'robotobold';
//@font-face {
//	font-family : $robotobold;
//	src         : url('#{$dir}Roboto-Bold-webfont.eot');
//	src         : url('#{$dir}Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
//	url('#{$dir}Roboto-Bold-webfont.woff') format('woff'),
//	url('#{$dir}Roboto-Bold-webfont.ttf') format('truetype'),
//	url('#{$dir}Roboto-Bold-webfont.svg#robotobold') format('svg');
//	font-weight : normal;
//	font-style  : normal;
//
//}
//
//$roboto_condensedbold : 'roboto_condensedbold';
//@font-face {
//	font-family : $roboto_condensedbold;
//	src         : url('#{$dir}RobotoCondensed-Bold-webfont.eot');
//	src         : url('#{$dir}RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
//	url('#{$dir}RobotoCondensed-Bold-webfont.woff') format('woff'),
//	url('#{$dir}RobotoCondensed-Bold-webfont.ttf') format('truetype'),
//	url('#{$dir}RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
//	font-weight : normal;
//	font-style  : normal;
//
//}
//
//$roboto_condensedbold_italic : 'roboto_condensedbold_italic';
//@font-face {
//	font-family : $roboto_condensedbold_italic;
//	src         : url('#{$dir}RobotoCondensed-BoldItalic-webfont.eot');
//	src         : url('#{$dir}RobotoCondensed-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
//	url('#{$dir}RobotoCondensed-BoldItalic-webfont.woff') format('woff'),
//	url('#{$dir}RobotoCondensed-BoldItalic-webfont.ttf') format('truetype'),
//	url('#{$dir}RobotoCondensed-BoldItalic-webfont.svg#roboto_condensedbold_italic') format('svg');
//	font-weight : normal;
//	font-style  : normal;
//
//}
//
//$robotobold_italic : 'robotobold_italic';
//@font-face {
//	font-family : $robotobold_italic;
//	src         : url('#{$dir}Roboto-BoldItalic-webfont.eot');
//	src         : url('#{$dir}Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
//	url('#{$dir}Roboto-BoldItalic-webfont.woff') format('woff'),
//	url('#{$dir}Roboto-BoldItalic-webfont.ttf') format('truetype'),
//	url('#{$dir}Roboto-BoldItalic-webfont.svg#robotobold_italic') format('svg');
//	font-weight : normal;
//	font-style  : normal;
//
//}
//
//$roboto_condensedregular : 'roboto_condensedregular';
//@font-face {
//	font-family : $roboto_condensedregular;
//	src         : url('#{$dir}RobotoCondensed-Regular-webfont.eot');
//	src         : url('#{$dir}RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
//	url('#{$dir}RobotoCondensed-Regular-webfont.woff') format('woff'),
//	url('#{$dir}RobotoCondensed-Regular-webfont.ttf') format('truetype'),
//	url('#{$dir}RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
//	font-weight : normal;
//	font-style  : normal;
//
//}
//
//$roboto_condenseditalic : 'roboto_condenseditalic';
//@font-face {
//	font-family : $roboto_condenseditalic;
//	src         : url('#{$dir}RobotoCondensed-Italic-webfont.eot');
//	src         : url('#{$dir}RobotoCondensed-Italic-webfont.eot?#iefix') format('embedded-opentype'),
//	url('#{$dir}RobotoCondensed-Italic-webfont.woff') format('woff'),
//	url('#{$dir}RobotoCondensed-Italic-webfont.ttf') format('truetype'),
//	url('#{$dir}RobotoCondensed-Italic-webfont.svg#roboto_condenseditalic') format('svg');
//	font-weight : normal;
//	font-style  : normal;
//
//}
//
//$robotoitalic : 'robotoitalic';
//@font-face {
//	font-family : $robotoitalic;
//	src         : url('#{$dir}Roboto-Italic-webfont.eot');
//	src         : url('#{$dir}Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
//	url('#{$dir}Roboto-Italic-webfont.woff') format('woff'),
//	url('#{$dir}Roboto-Italic-webfont.ttf') format('truetype'),
//	url('#{$dir}Roboto-Italic-webfont.svg#robotoitalic') format('svg');
//	font-weight : normal;
//	font-style  : normal;
//
//}
//
$robotolight : 'robotolight';
@font-face {
	font-family : $robotolight;
	src         : url('#{$dir}Roboto-Light-webfont.eot');
	src         : url('#{$dir}Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
	url('#{$dir}Roboto-Light-webfont.woff') format('woff'),
	url('#{$dir}Roboto-Light-webfont.ttf') format('truetype'),
	url('#{$dir}Roboto-Light-webfont.svg#robotolight') format('svg');
	font-weight : normal;
	font-style  : normal;

}

//$roboto_condensedlight : 'roboto_condensedlight';
//@font-face {
//	font-family : $roboto_condensedlight;
//	src         : url('#{$dir}RobotoCondensed-Light-webfont.eot');
//	src         : url('#{$dir}RobotoCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
//	url('#{$dir}RobotoCondensed-Light-webfont.woff') format('woff'),
//	url('#{$dir}RobotoCondensed-Light-webfont.ttf') format('truetype'),
//	url('#{$dir}RobotoCondensed-Light-webfont.svg#roboto_condensedlight') format('svg');
//	font-weight : normal;
//	font-style  : normal;
//
//}
//
//$roboto_condensedlight_italic : 'roboto_condensedlight_italic';
//@font-face {
//	font-family : $roboto_condensedlight_italic;
//	src         : url('#{$dir}RobotoCondensed-LightItalic-webfont.eot');
//	src         : url('#{$dir}RobotoCondensed-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
//	url('#{$dir}RobotoCondensed-LightItalic-webfont.woff') format('woff'),
//	url('#{$dir}RobotoCondensed-LightItalic-webfont.ttf') format('truetype'),
//	url('#{$dir}RobotoCondensed-LightItalic-webfont.svg#roboto_condensedlight_italic') format('svg');
//	font-weight : normal;
//	font-style  : normal;
//
//}
//
//$robotolight_italic : 'robotolight_italic';
//@font-face {
//	font-family : $robotolight_italic;
//	src         : url('#{$dir}Roboto-LightItalic-webfont.eot');
//	src         : url('#{$dir}Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
//	url('#{$dir}Roboto-LightItalic-webfont.woff') format('woff'),
//	url('#{$dir}Roboto-LightItalic-webfont.ttf') format('truetype'),
//	url('#{$dir}Roboto-LightItalic-webfont.svg#robotolight_italic') format('svg');
//	font-weight : normal;
//	font-style  : normal;
//
//}

$robotomedium : 'robotomedium';
@font-face {
	font-family : 'robotomedium';
	src         : url('#{$dir}Roboto-Medium-webfont.eot');
	src         : url('#{$dir}Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('#{$dir}Roboto-Medium-webfont.woff') format('woff'),
	url('#{$dir}Roboto-Medium-webfont.ttf') format('truetype'),
	url('#{$dir}Roboto-Medium-webfont.svg#robotomedium') format('svg');
	font-weight : normal;
	font-style  : normal;

}

//$robotomedium_italic : 'robotomedium_italic';
//@font-face {
//	font-family : 'robotomedium_italic';
//	src         : url('#{$dir}Roboto-MediumItalic-webfont.eot');
//	src         : url('#{$dir}Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
//	url('#{$dir}Roboto-MediumItalic-webfont.woff') format('woff'),
//	url('#{$dir}Roboto-MediumItalic-webfont.ttf') format('truetype'),
//	url('#{$dir}Roboto-MediumItalic-webfont.svg#robotomedium_italic') format('svg');
//	font-weight : normal;
//	font-style  : normal;
//
//}

$robotoregular : 'robotoregular';
@font-face {
	font-family : $robotoregular;
	src         : url('#{$dir}Roboto-Regular-webfont.eot');
	src         : url('#{$dir}Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('#{$dir}Roboto-Regular-webfont.woff') format('woff'),
	url('#{$dir}Roboto-Regular-webfont.ttf') format('truetype'),
	url('#{$dir}Roboto-Regular-webfont.svg#robotoregular') format('svg');
	font-weight : normal;
	font-style  : normal;

}

//$robotothin : 'robotothin';
//@font-face {
//	font-family : $robotothin;
//	src         : url('#{$dir}Roboto-Thin-webfont.eot');
//	src         : url('#{$dir}Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
//	url('#{$dir}Roboto-Thin-webfont.woff') format('woff'),
//	url('#{$dir}Roboto-Thin-webfont.ttf') format('truetype'),
//	url('#{$dir}Roboto-Thin-webfont.svg#robotothin') format('svg');
//	font-weight : normal;
//	font-style  : normal;
//
//}
//
//$robotothin_italic : 'robotothin_italic';
//@font-face {
//	font-family : $robotothin_italic;
//	src         : url('#{$dir}Roboto-ThinItalic-webfont.eot');
//	src         : url('#{$dir}Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
//	url('#{$dir}Roboto-ThinItalic-webfont.woff') format('woff'),
//	url('#{$dir}Roboto-ThinItalic-webfont.ttf') format('truetype'),
//	url('#{$dir}Roboto-ThinItalic-webfont.svg#robotothin_italic') format('svg');
//	font-weight : normal;
//	font-style  : normal;
//
//}
//
