@include loadFont("style-parts/fonts/alicelf-font/");

.am-wrap {
	width : 100%;
}

ul.nav {
	> li {
		margin-top : 0 !important;
	}
}

body {
	overflow-x : hidden;

	&.lock-overflow {
		overflow-y : hidden;
	}

	.header-wrapper {

		.header-row {
			display : flex;
			/*Tablet*/
			@media (max-width : 951px) {
				display : none;
			}
		}

		&.header-rows {
			.header-row {
				flex-flow : row wrap;

				> * {
					flex-basis : 100%;
					max-width  : 100%;
				}

				.menu-column {
					padding-left  : 0;
					padding-right : 0;
				}
			}
		}

		&.header-columns {

			.menu-column {
				align-items : center;
				display     : flex;
			}

			.header-row {
				flex-flow   : row nowrap;
				align-items : stretch;

			}

			/*Desktop*/
			@media (min-width : 952px) {
				.logo-column {
					flex-basis : 20%;
					max-width  : 20%;
				}

				.menu-column {
					flex-basis : 80%;
					max-width  : 80%;
				}
			}
		}

		/*Desktop*/
		@media (min-width : 952px) {
			display   : flex;
			flex-flow : row nowrap;
		}
	}

	/**
	 * ==================== Stick Navbar ======================
	 */
	&.am-sticky-header {

		#mobile-navigation-aside {
			width : 100%;
		}

		/*Desktop*/
		#mobile-navigation-aside,
		.header-wrapper {
			position         : fixed;
			width            : 100%;
			background-color : #fff;
			top              : 0;
			z-index          : 3;
		}
	}

	/**
	 * ==================== Body with Admin Bar rules ======================
	 */

	&.admin-bar {
		padding-top : 32px;

		.md-sidenav-content {
			padding-top : 32px;
		}

		/*WP-Mobile*/
		@media (max-width : 782px) {
			padding-top : 45px;
			.md-sidenav-content {
				padding-top : 40px;
			}
		}

		#mobile-navigation-aside {
			width : 100%;
		}

		&.am-sticky-header {
			.header-wrapper,
			#mobile-navigation-aside {
				padding-top : 32px;

				/*WP-Admin Mobile*/
				@media (max-width : 782px) {
					padding-top : 45px;
				}

				@media (max-width : 600px) {
					padding-top : 0;

					.mobile-nav-inner-handler {
						padding-top : 50px;
					}
				}

			}
		}
	}
}

/**
 * ==================== Main Offset ======================
 */

a {
	color : $cloudy;
}

.am-menu-backdrop {
	position         : absolute;
	width            : 100%;
	height           : 100%;
	z-index          : 4;
	background-color : rgba(0, 0, 0, 0);
	@include transition();
	&.black-ops {
		background-color : rgba(0, 0, 0, 0.56);
	}
}

#mobile-nav-menu {
	margin-top      : 10px;
	padding         : 0;
	list-style      : none;
	-moz-box-sizing : border-box;
	box-sizing      : border-box;
	* {
		-moz-box-sizing : border-box;
		box-sizing      : border-box;
	}
	ul {
		padding    : 0;
		list-style : none;
		display    : block;
		&.sub-menu {
			a {
				padding-left : 20px;
			}
		}
	}
	.md-list-item-holder {
		display : block;
	}
	li {
		display : block;
		width   : 100%;
	}
	a {
		text-decoration : none;
		display         : block;
		padding-left    : 15px;
		padding-right   : 15px;
		width           : 100%;
		min-height      : 48px;
		line-height     : 48px;
	}
	button {
		padding  : 0;
		overflow : visible;
	}

	i[data-badge] {
		top  : 17px;
		left : 20px;
	}

	.minicart-template-holder {
		> button {
			width      : 100%;
			background : none;
		}
		a {
			padding : 0;
		}

	}
}

#mobile-menu-trigger {
	margin-left  : 10px;
	margin-right : 0;
}

#text-logo {
	color : $cloudy;
	@include transition();
	&:hover {
		color : $brandColor;
	}
	i {
		font-size    : 40px;
		line-height  : 30px;
		float        : left;
		margin-right : 10px;
	}
	span {
		float      : left;
		margin-top : 10px;
	}
}

.header-row {
	height  : auto;
	padding : 0;

	.menu-default-alicelf-menu-container {
		a {
			font           : normal 100 16px $baseFont;
			text-transform : uppercase;
		}
	}

	.current-menu-item {
		background-color : transparent;
		a {
			color : $brandColor;
		}
	}
}

/**
 * ==================== Menu Trigger ======================
 * 20.08.2016
 */

.am-logo {
	display : block;
	img {
		@extend .img-responsive;
	}
}

.menu-primary-navigation-container {
	li {
		list-style : none;
		&.current-menu-item {
			background-color : transparentize($brandColor, .2);
			a {
				color : #fff;
			}
		}
		&:hover {
			background-color : transparentize($brandColor, .3);
			a {
				color : #fff;
			}
		}

	}
}