.am-comments-wrapper {
	ol {
		margin : 0;
	}
}

img {
	&.alignright {
		float : right;
		/*Mobile*/
		@media (max-width : 767px) {
			float        : none;
			margin-left  : auto;
			margin-right : auto;
			display      : block;
		}
	}

	&.alignleft {
		float : left;
		/*Mobile*/
		@media (max-width : 767px) {
			float        : none;
			margin-left  : auto;
			margin-right : auto;
			display      : block;
		}
	}
}

.image-overlap {
	overflow : hidden;
	font     : normal 30px $baseFont;
	color    : #fff;

	.inner-elems {
		position        : absolute;
		left            : 0;
		top             : 0;
		width           : 100%;
		height          : 100%;
		display         : flex;
		justify-content : center;
		align-items     : center;
	}

}

.fullcssheight {
	height     : 100%;
	min-height : 100%;
}

html, body {
	@extend .fullcssheight;
}

main {
	height    : 100%;
	display   : flex;
	flex-flow : row wrap;
	> * {
		flex-basis : 100%;
	}
	#am-footer {
		align-self : flex-end;
	}

	/*Mobile*/
	@media (max-width : 767px) {
		@include clearfix;
		display : block;
	}

}

.am-comments-wrapper {
	.mdl-textfield {
		width : 100%;
	}
}

.comment-respond {
	width : 100%;
}

.mdl-textfield {
	width : 100%;
	label {
		margin-bottom : 0;
		font-weight   : 300;
	}
}

.mdl-textfield__input {
	padding : 10px 0;

}

/**
 * ==================== Network ======================
 * 19.12.2016
 */
#dashboardnav {
	a {
		&:focus {
			text-decoration : none;
		}
		&.router-link-active {
			background-color : $brandColor;
			color            : #fff;
			i {
				color : #fff;
			}
		}
	}

	/*Mobile*/
	@media (max-width : 767px) {
		> li {
			> a {
				min-width : 50px;
			}
		}
	}

}

/**
 * ==================== Transitions ======================
 */
.transition-default {
	transition : all .3s;
}

/**
 * ==================== WooMinicart ======================
 */
.fademinicart-enter-active, .fademinicart-leave-active {
	transform : translateY(0px);
	opacity   : 1;
}

.fademinicart-enter, .fademinicart-leave-active {
	transform : translateY(30px);
	opacity   : 0;
}

/**
 * ==================== Panel ======================
 */
[class*="panelslide"] {
	transition : all 0.5s;
}

.panelslide-enter-active, .panelslide-leave-active {
	transform : translateX(0px);
	opacity   : 1;
}

.panelslide-enter, .panelslide-leave-active {
	transform : translateX(40px);
	opacity   : 0;
}

/**
 * ==================== Auth ======================
 */
#network-content {
	> div {
		padding-left       : 20px;
		padding-right      : 20px;
		animation-duration : .3s;
	}
	> #Auth-scope {
		/*Mobile*/
		@media (max-width : 767px) {
			padding : 0;
		}
	}
	.close-frm-btn {
		width      : 30px;
		height     : 30px;
		text-align : center;
		min-height : 0;
		i {
			font-size   : 18px;
			line-height : 30px;
			top         : -4px;
		}
	}
}

#login-register-wrapper {
	position : relative;
	overflow : visible;
}

#forms-handler {
	position      : relative;
	overflow      : hidden;
	z-index       : 1;
	border-radius : 3px;

	&.increase-z {
		z-index : 4;
	}
}

#am-loginform-wrapper {
	width           : 100%;
	max-width       : $containerWidthSm;
	margin-left     : auto;
	margin-right    : auto;
	-moz-box-sizing : border-box;
	box-sizing      : border-box;

	* {
		-moz-box-sizing : border-box;
		box-sizing      : border-box;
	}
	.md-card-actions {
		padding-right : 0;
	}
}

#am-resetpass-form,
#am-register-form {
	@include transition(.2s);
	position        : absolute;
	left            : 50%;
	top             : 50%;
	padding         : 0;
	width           : 0;
	height          : 0;
	display         : flex;
	justify-content : center;
	align-items     : center;
	border-radius   : 50%;
	> * {
		display : none;
	}

	&:before {
		@include transition(.3s);
		content          : "";
		position         : absolute;
		left             : 50%;
		background-color : lighten($brandColor, 13%);
		top              : 50%;
		padding          : 0;
		width            : 0;
		height           : 0;
		display          : block;
		overflow         : hidden;
		border-radius    : 50%;
	}
	&#am-resetpass-form {
		&:before {
			background-color : lighten($themeColor, 10%);
		}
	}

	&.open-form-opened {
		overflow      : visible;
		width         : 100%;
		height        : 100%;
		margin-left   : -50%;
		top           : 0;
		border-radius : 3px;
		z-index       : 5;
		@include transition(.8s);
		> * {
			display : block;
		}

		&:before {
			@include transition(.8s);
			width       : 1000px;
			height      : 1000px;
			margin-left : -500px;
			margin-top  : -500px;
		}

		/*Tablet*/
		@media (max-width : 1024px) {
			padding-left  : 30px;
			padding-right : 30px;
		}

	}
}

#reset-trigger,
#register-trigger {
	position : absolute;
	right    : -30px;
	top      : 10px;
	z-index  : 3;
	@include transition(.2s);

	&.icon-centered {
		right        : 50%;
		top          : 50%;
		margin-top   : -20px;
		margin-right : -20px;
	}
}

#reset-trigger {
	left  : -30px;
	right : auto;

	&.icon-centered {
		left  : 50%;
		right : auto;
	}
}

.spinner-container {
	height : 55px;
	.md-spinner {
		float : right;
	}
}

.register-inner-wrap {
	position        : relative;
	width           : 100%;
	max-width       : $containerWidthSm;
	-moz-box-sizing : border-box;
	box-sizing      : border-box;

	* {
		-moz-box-sizing : border-box;
		box-sizing      : border-box;
	}

	.md-card-header {
		padding-left  : 0 !important;
		padding-right : 0 !important;
	}

	.md-card-actions {
		padding-right : 0;
	}

	.md-card-header {
		color : #fff;
	}

	.mdl-textfield--floating-label {
		color : #fff;

		.mdl-textfield__label {
			color : rgba(255, 255, 255, 0.81);
			&:after {
				background-color : rgba(255, 255, 255, 0.81);
			}
		}

		&.is-invalid {
			.mdl-textfield__label {
				color : $dangerColor;
				&:after {
					background-color : $dangerColor;
				}
			}
		}
	}

}

.close-frm-btn {
	position : absolute;
	right    : 0;
	top      : 0;
}

#login-register-form {
	max-width    : 900px;
	margin-left  : auto;
	margin-right : auto;
}