/**
 * ==================== Contact Form 7 ======================
 */
.wpcf7-form {
	padding      : 0;

	// Notices
	.wpcf7-not-valid-tip {
		color    : $dangerColor;
		position : absolute;
	}
	.wpcf7-form-control-wrap {
		display : block;
		width   : 100%;
	}
	.wpcf7-response-output {
		border        : none;
		padding       : 20px;
		line-height   : 20px;
		margin        : 15px 0;
		border-radius : 1px;
		&.wpcf7-validation-errors {
			background-color : $warningColor;
			color            : #000;
		}
		&.wpcf7-mail-sent-ng {
			background-color : $dangerColor;
			color            : #fff;
		}
		&.wpcf7-mail-sent-ok {
			background-color : $successColor;
			color            : #fff;
		}
	}

	&.invalid {
		input[type=tel],
		input[type=text],
		input[type=email],
		input[type=number],
		input[type=password] {
			&.wpcf7-validates-as-required {
				border :1px solid $dangerColor;
			}
		}
	}

}

/**
 * ==================== WooCommerce ======================
 */
li.vuecart-class {
	position   : relative;
	z-index    : 1;
	list-style : none;
}

.cart-list-group {
	position        : absolute;
	z-index         : 1;
	min-width       : 250px;
	-moz-box-sizing : border-box;
	box-sizing      : border-box;
	flex-flow       : row wrap;
	* {
		-moz-box-sizing : border-box;
		box-sizing      : border-box;
	}

	.list-group-item {
		padding    : 5px;
		margin-top : 0 !important;
	}

	.cart-item-description {
		padding-left  : 10px !important;
		padding-right : 10px !important;
	}

	.button-col {
		display         : flex;
		justify-content : center;
	}
}

#mobile-nav-menu {
	.cart-navigation-link {
		button {
			width      : 35px;
			margin     : 0 !important;
			text-align : left;
		}
	}
}

.minicart-template-holder {
	position : relative;

	.items-count {
		position : absolute;
		top      : -8px;
		right    : 0;
	}

	button {
		overflow : visible;
	}

	p {
		margin-bottom : 4px;
		font          : normal 14px/17px $baseFont;
		color         : $textColor;
	}


	.product-title {
		text-transform : none;
	}

	figure {
		max-width : 50px;
		margin    : 5px;
		img {
			max-width : 100%;
		}
	}
}

.am-mini-cart-footer {
	flex-basis : 100%;
	max-width  : 100%;
	text-align : center;
	padding    : 0 !important;

	a {
		color      : $dangerColor !important;
		background : none !important;
		&:hover {
			color : #000 !important;
		}
	}

	.subtotal-row {
		font-size : 12px;
	}

	.row-cart-separator {
		padding : 5px 10px;
		&:not(:last-of-type) {
			border-bottom : 1px solid transparentize($cloudy, .8);
		}
	}

}

.slick-slide,
.slick-active {
	outline : none;

	&:focus{
		outline : none;
	}
}