$baseFont: $robotoregular, sans-serif;

$fontSize : 16; // font size
$sizemodifier : 1.414; // font size modifier
$lhParagraphModifier : 1.618; // line height modifier for paragraph
$lhHeadinModifier : 1.25; // line height modifier for headings

// font-size: 16 * 1.25 ^ -1
// line-height: result * 1.25
$smallSise : $fontSize * pow($sizemodifier, -1);
$smallLineHeight : $smallSise * $lhParagraphModifier;
$smallSise : floor($smallSise);
$smallLineHeight : floor($smallLineHeight);
$fontS : #{$smallSise}px/#{$smallLineHeight}px;

// paragraph 16px / result * 1.618
// line-height: result * 1.25
$fontP : #{$fontSize}px/#{$fontSize * $lhParagraphModifier}px;

// font-size: 16 * 1.414
// line-height: result * 1.618
$h3FontSize : $fontSize * $sizemodifier;
$h3LineHeight : $h3FontSize * $lhHeadinModifier;
$h3FontSize : floor($h3FontSize);
$h3LineHeight : floor($h3LineHeight);
$fontH3 : #{$h3FontSize}px/#{$h3LineHeight}px;

// font-size: 16 1.414 ^ 2
// line-height: result * 1.25
$h2FontSize : $fontSize * pow($sizemodifier, 2);
$h2LineHeight : $h2FontSize * $lhHeadinModifier;
$h2FontSize : floor($h2FontSize);
$h2LineHeight : floor($h2LineHeight);
$fontH2 : #{$h2FontSize}px/#{$h2LineHeight}px;

// font-size: 16 * 1.414 ^ 3
// line-height: result * 1.25
$h1FontSize : $fontSize * pow($sizemodifier, 3);
$h1LineHeight : $h1FontSize * $lhHeadinModifier;
$h1FontSize : floor($h1FontSize);
$h1LineHeight : floor($h1LineHeight);
$fontH1 : #{$h1FontSize}px/#{$h1LineHeight}px;

html,
body {
	font-family : $baseFont;

	h1, h2, h3, h4, h5, h6,
	p, a, ul, ol, li, strong, b, span {
		font-family : $baseFont;
		margin      : 0;
	}

	h1, .font-h1 {
		font : normal $fontH1 $baseFont;
		span {
			font : normal $fontH1 $baseFont;
		}

		/*Mobile*/
		@media (max-width : 767px) {
			font : normal $fontH2 $baseFont;
			span {
				font : normal $fontH2 $baseFont;
			}
		}
	}

	h2, .font-h2 {
		font : normal $fontH2 $baseFont;
		span {
			font : normal $fontH2 $baseFont;
		}
	}

	h3, .font-h3 {
		font : normal $fontH3 $baseFont;
		span {
			font : normal $fontH3 $baseFont;
		}
	}

	p, .paragraph {
		font : normal $fontP $baseFont;
		span {
			font : normal $fontP $baseFont;
		}
	}

	small, p.small, .small {
		font : normal $fontS $baseFont;
		span, p {
			font : normal $fontS $baseFont;
		}
	}

	/*Tablet*/
	@media (max-width : 951px) {
		small, p.small {
			font : normal 12.5px/20px $baseFont;
			span {
				font : normal 12.5px/20px $baseFont;
			}
		}
	}

}