@import "style-parts/vars";
@import "node_modules/vue-material/dist/vue-material";

// Override bootstrap vars
// /node_modules/bootstrap/scss/_variables.scss
$theme-colors: (
		primary: $infoColor,
		success: $successColor,
		warning: $warningColor,
		danger: $dangerColor,
		info: $infoColor,
);
$link-color: $infoColor;
@import "node_modules/bootstrap/scss/bootstrap";
