$dir: 'style-parts/fonts/alicelf-font/';

@mixin loadFont($dir : "style-parts/fonts/alicelf-font/") {
	@font-face {
		font-family: "alicelf-font";
		src:url("#{$dir}alicelf-font.eot");
		src:url("#{$dir}alicelf-font.eot?#iefix") format("embedded-opentype"),
		url("#{$dir}alicelf-font.woff") format("woff"),
		url("#{$dir}alicelf-font.ttf") format("truetype"),
		url("#{$dir}alicelf-font.svg#alicelf-font") format("svg");
		font-weight: normal;
		font-style: normal;

	}

	[data-alice-icon]:before {
		font-family: "alicelf-font" !important;
		content: attr(data-icon);
		font-style: normal !important;
		font-weight: normal !important;
		font-variant: normal !important;
		text-transform: none !important;
		speak: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	[class^="alice-"]:before,
	[class*=" alice-"]:before {
		font-family: "alicelf-font" !important;
		font-style: normal !important;
		font-weight: normal !important;
		font-variant: normal !important;
		text-transform: none !important;
		speak: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.alice-alicelf-brand:before {
		content: "\61";
	}
	.alice-upwork-logo:before {
		content: "\62";
	}
	.alice-upwork-square:before {
		content: "\63";
	}
	.alice-javascript-logo:before {
		content: "\67";
	}
	.alice-sass-logo:before {
		content: "\6a";
	}
	.alice-bws:before {
		content: "\64";
	}
}

/**
 * ==================== Mouse scroll animaition ======================
 * <span class="mouse-icon"><span class="wheel"></span></span>
 */
.mouse-icon {
	border        : 2px solid #000;
	border-radius : 16px;
	height        : 40px;
	width         : 24px;
	display       : block;
	z-index       : 10;
	opacity       : 0.7;
}

.mouse-icon .wheel {
	display   : block;
	// animation-name
	// animation-duration
	// animation-timing-function
	// animation-delay
	// animation-iteration-count
	// animation-play-state
	animation : drop 1s linear 0s infinite running;
}

.mouse-icon .wheel {
	position      : relative;
	border-radius : 10px;
	background    : #000;
	width         : 2px;
	height        : 6px;
	top           : 4px;
	margin-left   : auto;
	margin-right  : auto;
}
@-webkit-keyframes drop {
	0% { top: 5px; opacity: 0; }
	30% { top: 10px; opacity: 1; }
	100% { top: 25px; opacity: 0; }
}
@keyframes drop {
	0% { top: 5px; opacity: 0; }
	30% { top: 10px; opacity: 1; }
	100% { top: 25px; opacity: 0; }
}