.site-main-page-content {
	max-width : 100%;
}

@mixin clearfix() {
	&:before,
	&:after {
		content : " "; // 1
		display : table; // 2
	}
	&:after {
		clear : both;
	}
}

.am-wrap {
	@include clearfix;
	display      : block;
	float        : none;
	margin-left  : auto;
	margin-right : auto;
	clear        : both;
}

/**
 * ==================== Flex Grid ======================
 */
.flex-container {
	display   : -ms-flexbox;
	display   : flex;
	flex-flow : row wrap;
}

.flex-container-nowrap {
	display   : -ms-flexbox;
	display   : flex;
	flex-flow : row nowrap;

	/*Mobile*/
	@media (max-width : 767px) {
		flex-wrap : wrap;
	}

}

// flex-col flex-col-desktop flex-col-tablet flex-col-phone
@mixin flex-col {

	.flex-col-33 {
		flex-basis : 33.33333333%;
		max-width  : 33.33333333%;
	}

	.flex-col-66 {
		flex-basis : 66.66666666%;
		max-width  : 66.66666666%;
	}

	$baseFlexWidth : 5;
	@for $i from 5 through 24 {
		.flex-col-#{$baseFlexWidth} {
			flex-basis : percentage($baseFlexWidth)/100;
			max-width  : percentage($baseFlexWidth)/100;
		}
		$baseFlexWidth : $baseFlexWidth + 5;
	}

	/*Desktop*/
	$baseFlexWidth : 5;
	@media (min-width : 952px) {

		.flex-col-desktop-33 {
			flex-basis : 33.33333333%;
			max-width  : 33.33333333%;
		}

		.flex-col-desktop-66 {
			flex-basis : 66.66666666%;
			max-width  : 66.66666666%;
		}

		@for $i from 5 through 24 {
			.flex-col-desktop-#{$baseFlexWidth} {
				flex-basis : percentage($baseFlexWidth)/100;
				max-width  : percentage($baseFlexWidth)/100;
			}
			$baseFlexWidth : $baseFlexWidth + 5;
		}
	}

	/*Tablet*/
	$baseFlexWidth : 5;
	@media (max-width : 951px) {

		.flex-col-tablet-33 {
			flex-basis : 33.33333333%;
			max-width  : 33.33333333%;
		}

		.flex-col-tablet-33 {
			flex-basis : 66.66666666%;
			max-width  : 66.66666666%;
		}

		@for $i from 5 through 24 {
			.flex-col-tablet-#{$baseFlexWidth} {
				flex-basis : percentage($baseFlexWidth)/100;
				max-width  : percentage($baseFlexWidth)/100;
			}
			$baseFlexWidth : $baseFlexWidth + 5;
		}

	}

	/*Mobile*/
	$baseFlexWidth : 5;
	@media (max-width : 767px) {

		.flex-col-phone-33 {
			flex-basis : 33.33333333%;
			max-width  : 33.33333333%;
		}

		.flex-col-phone-66 {
			flex-basis : 66.66666666%;
			max-width  : 66.66666666%;
		}

		@for $i from 5 through 24 {
			.flex-col-phone-#{$baseFlexWidth} {
				flex-basis : percentage($baseFlexWidth)/100;
				max-width  : percentage($baseFlexWidth)/100;
			}
			$baseFlexWidth : $baseFlexWidth + 5;
		}
	}
}

@include flex-col;


%space-x-section {
	float   : none;
	clear   : both;
	display : block;
	width   : 100%;
	@include clearfix;
}

@mixin space-x {
	@for $i from 1 through 10 {
		.space-x-#{$i}0 {
			@extend %space-x-section;
			height : ($i*10)+px;
		}
	}
}
@include space-x();		// 10 {+10} 100

@mixin padding-x {
	$istep : 5;
	@while $istep < 55 {
		.padding-x-#{$istep} {
			padding : #{$istep}px;
		}
		$istep : $istep+5;
	}
}
@include padding-x(); // 5 {+5} 50


@mixin fontScope($class) {
	// Custom sizes goes there
	//.#{$class}-13 {
	//	font-size   : 13px;
	//	line-height : 16px;
	//}

	// Font Fabric
	$font : 10;
	@while $font <= 55 {
		.#{$class}-#{$font} {
			font-size   : $font + px;
			line-height : ( $font + 3 ) + px;
		}
		$font : $font + 5;
	}

}
//@include fontScope('am-font');

/**
 * ==================== Other Mixes ======================
 */
// Vertical Gradient
@mixin gradient($color1 : $infoColor, $color2 : $mainColor) {
	background-color  : $color2;
	background        : -webkit-gradient(linear, left 0%, left 100%, from($color1), to($color2));
	background        : -webkit-linear-gradient(top, $color1, 0%, $color2, 100%);
	background        : -moz-linear-gradient(top, $color1 0%, $color2 100%);
	background        : -ms-linear-gradient(top, $color1 0%, $color2 100%);
	background        : linear-gradient(to bottom, $color1 0%, $color2 100%);
	background-repeat : repeat-x;
	filter            : progid:DXImageTransform.Microsoft.gradient(startColorstr='#ie-hex-str($color1)', startColorstr='#ie-hex-str($color2)', GradientType=0);
}

// Horizontal Gradient
@mixin gradientH($color1: $infoColor, $color2: $mainColor) {
	background : $color1; /* Old browsers */
	background : -moz-linear-gradient(left, $color1 0%, $color2 100%);
	background : -webkit-linear-gradient(left, $color1 0%, $color2 100%);
	background : linear-gradient(to right, $color1 0%, $color2 100%);
	filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$color1}', endColorstr='#{$color2}', GradientType=1);
}

@mixin transition($time : 0.3s, $prop : all) {
	-webkit-transition : $prop, $time;
	-moz-transition    : $prop, $time;
	-o-transition      : $prop, $time;
	transition         : $prop, $time;
}

@mixin placeholder-color($color : $mainColor) {
	::-webkit-input-placeholder {
		color : $color;
	}
	::-moz-placeholder {
		color : $color;
	}
	:-ms-input-placeholder {
		color : $color;
	}
	:-moz-placeholder {
		color : $color;
	}
}

@function pow($number, $exponent) {
	$value : 1;

	@if $exponent > 0 {
		@for $i from 1 through $exponent {
			$value : $value * $number;
		}
	} @else if $exponent < 0 {
		@for $i from 1 through -$exponent {
			$value : $value / $number;
		}
	}

	@return $value;
}
