@import "fonts/alicelf-font/style";
@import "fonts/roboto/style";

$pastel : #f8f2ef;
$brandColor: #108AEE;
$mainColor : darken($brandColor, 5%);

$themeColor : #546e7a;

$infoColor : $brandColor;
$successColor : #38CF00;
$warningColor : #FFA400;
$dangerColor : #E94F37;

// Darks
$shade: #12121E;
$shade1: #5D5D69;
$shade2: #93939F;
$shade3: #C8C8D2;
$shade4: #D9D9E0;
$shade5: #F5F5F7;

$cloudy : #636672;
$textColor : $shade;

// Measures
$containerWidth: 1170px;
$containerWidthSm: 800px;