<template>
	<div class="minicart-template-holder">

		<md-button @click.native="toggleCart">
			<md-icon>shopping_cart</md-icon>
			<span class="items-count">{{totalCart}}</span>
			<span class="items-count-text">({{totalCart}} items)</span>
		</md-button>

		<!--enter-active-class="animated bounceIn"-->
		<!--leave-active-class="animated bounceOut"-->
		<transition name="fademinicart">
			<ul class="list-group transition-default cart-list-group"
					:class="{cartAppear: cartOpened}"
					v-show="cartOpened">

				<li v-for="(item, index) in cartItemsData" class="list-group-item">
					<div class="row no-gutters">
						<div class="col-3">
							<a :href="item.permalink"><img :src="item.images[0]" :alt="item.product.post_title"></a>
						</div>
						<div class="col-7 cart-item-description">
							<p class="product-title">{{item.product.post_title}}</p>
							<p class="product-title"><span v-html="currency"></span>{{item.price}} x {{item.qty}}</p>
						</div>
						<div class="col-2 button-col">
							<md-button
								@click.native="removeFromCart(item, index, $event)"
								class="md-icon-button md-raised md-dense">
								<md-icon>close</md-icon>
							</md-button>
						</div>
					</div>
				</li>

				<li v-if="totalCart > 0" class="list-group-item am-mini-cart-footer">
					<div class="row row-cart-separator no-gutters">
						<div class="col-6">
							<a :href="AMdefaults.shop_url">Shop</a>
						</div>
						<div class="col-6">
							<a :href="AMdefaults.cart_url">View cart</a>
						</div>
					</div>
					<div class="row subtotal-row row-cart-separator no-gutters">
						<div class="col-12 text-center">
							<em>Subtotal: <span v-html="currency"></span>{{subtotal}}</em>
						</div>
					</div>
				</li>

			</ul>
		</transition>
	</div>
</template>

<script>

	export default {
		// Fields
		data: function() {
			return {
				cartOpened: false,
				currency  : null,
				AMdefaults,
			}
		},

		// Dynamic Fields
		computed: {
			totalCart() {
				return this.cartItemsData.length
			},

			subtotal() {
				const vm = this
				if (vm.totalCart > 0) {
					let total = 0
					vm.cartItemsData.map((item) => {
						total += (item.price * item.qty)
					})
					return total
				}
				return 0
			},

			cartItemsData() {
				return this.$store.state.cartState.products
			}

		},

		// Constructor
		created: function() {
			this.fetchCart();
			var vm = this;
			this.currency = this.pd().currency;


			eventHub.$on('domloaded', function(e) {
				document.getElementById('am-appwrap')
					.addEventListener('click', function(e) {
						var parentEl = $(e.target).parents('.minicart-template-holder').length;
						if (!parentEl) {
							vm.cartOpened = false;
						}
					});
			});

		},

		// Methods
		methods: {
			pd: function() {
				return this.$parent.$data;
			},

			fetchCart: function() {
				const vm = this
				this.$http.get(AMdefaults.ajaxurl + "?action=ajx20161412071430")
					.then(function(response) {
						vm.$store.commit('setProducts', response.body)
					});
			},

			removeFromCart: function(item, index, event) {
				const removeData = dataToPost('ajx20163730073701', item)
				const vm = this
				vm.$store.commit('removeFromCart', item);
				this.$http.post(AMdefaults.ajaxurl, removeData).then(function(response) {
//					console.log(response.data);
				});
			},

			toggleCart: function() {
				if (this.totalCart > 0) {
					this.cartOpened = !this.cartOpened;
				} else {
					this.$root.openDialog('alertOkDialog', {
						alert: 'alertok',
						data : {
							type       : 'success',
							contentHtml:
								`<p class="text-center">
									Your <strong>cart</strong> is empty.
								</p>`,
							text       : 'Ok'
						}
					})
				}

			}
		}
	}
</script>