@import "../../../../style-parts/vars";

.mobile-trigger {
	margin      : 10px 10px 0 0;
	padding     : 0;
	width       : 50px;
	height      : 50px;
	line-height : 50px;
	color       : #fff;
	display     : inline-block;
	min-width   : 50px;
	text-align  : center;

	i {
		display   : inline-block;
		width     : auto;
		height    : auto;
		font-size : 45px;
	}

}

#mobile-navigation-aside {
	background-color : #fff;
}

.Menu-scope {
	padding-left  : 5px;
	padding-right : 5px;
	overflow      : auto;
	position      : relative;
	z-index       : 10;
}

.subitems-menu-buttons {
	display         : flex;
	flex-flow       : row nowrap;
	justify-content : space-between;
	margin-top      : 15px;
	margin-bottom   : 15px;

	> a {
		display     : inline-block;
		flex-basis  : 49.5%;
		max-width   : 49.5%;
		text-align  : center;
		font-size   : 18px;
		font-family : $baseFont;
		border      : 1px solid $brandColor;
		padding     : 10px 20px;

		&.filled-button {
			color            : #fff !important;
			background-color : $brandColor;
		}
		&.empty-button {
			color : $textColor !important;
		}
	}
}

.parent-menu-handler {
	list-style : none;
	padding    : 0;

	> li {
		position      : relative;
		border-bottom : 1px solid $brandColor;
		&:first-of-type {
			border-top : 1px solid $brandColor;
		}

		.childs-wrap {
			ul {
				list-style    : none;
				padding-left  : 20px;
				margin-bottom : 10px;

				a {
					font    : normal 16px $baseFont;
					color   : $brandColor !important;
					display : block;
					padding : 10px;
				}
			}
		}

		> a {
			font    : normal 18px $baseFont;
			color   : $brandColor !important;
			padding : 20px 30px;
			display : block;
		}

		.fa-plus,
		.expand-trigger {
			position    : absolute;
			top         : 15px;
			text-align  : center;
			display     : block;
			width       : 30px;
			height      : 30px;
			line-height : 30px;
			right       : 20px;
			font-size   : 20px;
			color       : $brandColor;
			cursor      : pointer;
		}

	}

}